#name{
  font-size: 4rem;
}



.head
{
  font-family: 'Oswald', sans-serif;
}
.black{
  background-color: black;
}

.reach{
  font-size: 1.5rem;
}
.pad{
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;

}

.carousel-item{
  height: 4rem;
}
.Qualifications{
  padding: 1rem;
}
.break{
  background-color: #e9ecef;
  padding: 0;
  margin: 0;
}
