.head
{
  font-family: 'Oswald', sans-serif;
}
.black{
  background-color: black;
}
.jumbotron{
  padding-bottom: 15rem;
}
.reach{
  font-size: 1.5rem;
}
.pad{
  padding-bottom: 1.5rem;

}

.carousel-item{
  height: 4rem;
}
